@font-face {
  font-family: "iconfont"; /* Project id 3158148 */
  src: url('iconfont.woff2?t=1642916039410') format('woff2'),
       url('iconfont.woff?t=1642916039410') format('woff'),
       url('iconfont.ttf?t=1642916039410') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e661";
}

.icon-zuidahua:before {
  content: "\e621";
}

.icon-ziyuan:before {
  content: "\e65a";
}

.icon-expand:before {
  content: "\e60c";
}

.icon-guanbi1:before {
  content: "\e64d";
}

.icon--zuixiaohua:before {
  content: "\e622";
}

.icon-shibai:before {
  content: "\e64e";
}

.icon-jiazai:before {
  content: "\e684";
}

.icon-quanpingzuidahua:before {
  content: "\e70e";
}

.icon-zuixiaohua:before {
  content: "\e749";
}

.icon-chenggong:before {
  content: "\e615";
}

